@media all and (orientation: portrait) {
    .meContent {
        max-width: none;
    }
    .meContainer {
        justify-content: flex-start;
    }
}
@media all and (orientation: portrait) {
  .meContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
  }
}
@media all and (orientation: landscape) {
    .meContent {
        max-width: 50%;
    }
    .meContainer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

}
.meContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.meContainer {
    display: flex;
    height: 100%;
    background: url(../photos/sideBack.jpg) no-repeat center;
    background-size: cover;
}
.meTextMain {
    width: 100%;
    top: 0;
    color: rgb(0, 102, 153);
    font-size: 1.4rem;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    font-family: Lobster-Regular, 'Lobster-Regular', normal;
    margin-bottom: 1rem;
}
.meText {
  margin-top:1rem;
  margin-bottom: 1rem;
    width: 100%;
    top: 0;
    color: white;
    font-size: 1.2rem;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    font-family: Lobster-Regular, 'Lobster-Regular', normal;
}
.modal-body {
    color: black;
}
.form-group {
    width: 100%;
}
