body {
  background-color: #326478;
  color: white;
  text-shadow: 1px 1px 2px black;
}
.blackBack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.whiteLandPageBlock {
  background-color: transparent;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  min-height: 150px;
  height: auto;
  padding: 0px;
  color: white;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}
.ripple {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  background: white;
  display: none;
}
@keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(100);
    opacity: 0;
  }
}
@-webkit-keyframes ripple-animation {
  from {
    -webkit-transform: scale(1);
    opacity: 0.4;
  }
  to {
    -webkit-transform: scale(100);
    opacity: 0;
  }
}
.upperPart {
  position: relative;
  display: inline-block;
  background-color: #326478;
  padding: 0;
  width: 100%;
  background-size: cover;
  min-height: 250px;
  height: auto;
  top: -50px;
}
.middlePart {
  position: relative;
  z-index: 100;
  left: 0px;
  width: 100%;
  min-height: 200px;
  opacity: 1;
  display: inline-block;
}
.bottomPart {
  position: relative;
  z-index: 100;
  margin: 0;
  margin-top: 30px;
  padding: 15px;
  opacity: 0;
  font-size: 18px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
}
.container {
  top: 60px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  padding-left: 10px;
  margin: 0;
}
::-webkit-scrollbar {
  width: 0;
}
.boxHeader {
  position: absolute;
  top: -15px;
  background: #ffffff;
  font-size: 22px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
  width: 90%;
  left: 5%;
  z-index: 1000;
  text-align: center;
  text-shadow: none;
  color: black;
}
.langBox {
  position: fixed;
  display: inline-block;
  width: auto;
  left: 0;
  top: 0;
  padding: 5px;
  padding-right: 8px;
  height: 38px;
  background: rgba(50, 30, 50, 0.7);
  font-size: 20px;
  z-index: 9800;
  border-bottom-right-radius: 15px;
}
.navbar {
  opacity: 0;
  background: rgba(50, 30, 50, 0.7);
  text-shadow: 1px 1px 2px black;
  font-size: 24px;
  z-index: 5000;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
  transition: 0.7s linear all;
  -webkit-transition: 0.7s linear all;
}
.nabar:hover {
  background-color: transparent;
}
.col {
  position: relative;
  display: inline-block;
  padding: 15px;
}
.customBox {
  position: relative;
  display: inline-block;
  min-width: 100%;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 2px black;
  padding: 15px;
  padding-top: 20px;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 20px;
  z-index: 0;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  margin-top: 25px;
  -webkit-perspective: 1000;
  text-align: center;
}
@keyframes customBoxAnim {
  0% {
    transform: rotateX(0deg);
  }
  65% {
    transform: rotateX(360deg) scale(1.05);
  }
  100% {
    transform: rotateX(360deg) scale(1);
  }
}
@-webkit-keyframes customBoxAnim {
  0% {
    -webkit-transform: rotateX(0deg);
  }
  65% {
    -webkit-transform: rotateX(360deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
  }
}
@keyframes rotTop {
  0% {
    transform: rotateX(0deg);
  }
  25% {
    transform: rotateX(-30deg);
  }
  50% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
.modal-dialog {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
}
.modal-content {
  max-height: 60%;
}
.navbar-toggle {
  background: transparent;
}
.modal-body {
  max-height: 60%;
}
.glyphicon.glyphicon-align-justify {
  color: white;
}
.nav.navbar-nav li a {
  color: white;
  font-size: 24px;
  padding: 7px;
  padding-top: 15px;
  transition: 0.5s linear all;
  -webkit-transition: 0.5s linear all;
}
.nav.navbar-nav li a:hover {
  -webkit-transform: scale(1.1);
  background-color: rgba(50, 50, 50, 0.5);
}
.nav.navbar-nav li a:active {
  -webkit-transform: scale(1.1);
  background-color: transparent;
}
.modal-dialog {
  max-height: 50%;
}
.highlight {
  position: absolute;
  display: inline-block;
  min-width: 100%;
  padding: 0;
  top: 75px;
  left: 0;
  right: 0;
}
.firstPage {
  opacity: 1;
}
.highlight.ng-hide {
  transition: 0.7s linear all;
  -webkit-transition: 0.7s linear all;
  opacity: 0;
}
.highlight {
  opacity: 1;
}
@keyframes NAME-YOUR-ANIMATION {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes NAME-YOUR-ANIMATION {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes NAME-YOUR-ANIMATION {
  0% {
    opacity: 0;
    top: 0;
  }
  1% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 1;
    top: 40px;
  }
}
@-o-keyframes NAME-YOUR-ANIMATION {
  0% {
    opacity: 0;
    top: 0;
  }
  1% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 1;
    top: 40px;
  }
}
.img-responsive {
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: transparent;
  -webkit-animation: NAME-YOUR-ANIMATION 1s;
  /* Safari 4+ */
  -moz-animation: NAME-YOUR-ANIMATION 1s;
  /* Fx 5+ */
  -o-animation: toRepeatAnim 1s;
  /* Opera 12+ */
  animation: NAME-YOUR-ANIMATION 1s;
  /* IE 10+, Fx 29+ */
}
@media (max-width: 1300px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
}
.comments {
  background: rgba(250, 250, 250, 0.3);
  margin-top: 10px;
  text-align: center;
  width: 100%;
  font-size: 18px;
  left: 0;
}
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
  position: relative;
}
/* flip the pane when hovered 
  .flip-container:active .flipper {
    transform: rotateX(-180deg);
  }
*/
.flip-container,
.front,
.back {
  width: 100%;
  height: 300px;
  left: 0;
  top: 0;
}
.flip-container .flipper {
  transform-origin: 100% 140px;
  /* half of height */
}
/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  background-color: transparent;
  position: absolute;
  height: 285px;
}
/* front pane, placed above back */
.front {
  background-color: rgba(150, 150, 150, 0);
  z-index: 2;
  /* for firefox 31 */
  transform: rotateX(0deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* back, initially hidden pane */
.back {
  font-size: 22px;
  text-align: center;
  background-color: rgba(150, 150, 150, 0);
  transform: rotateX(179deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-shadow: 1px 1px 2px black;
}
.startWords {
  position: relative;
  background: rgba(255, 255, 255, 0.3);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 24px;
  opacity: 0.01;
  display: block;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}
.arrowDown {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #f00;
  z-index: 999;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.animatedBounce {
  position: absolute;
  top: 50px;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  left: calc(50% - 25px);
  border-radius: 25px;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3);
  background: url('/photos/downArrow.png');
  background-size: cover;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.landPageBlock {
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  font-size: 24px;
  height: 100px;
  background-color: #1e5064;
  color: #ffe6f0;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
  padding-top: 15px;
  margin-top: 0;
  z-index: 1000;
  opacity: 0;
  transform: scale(1);
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
.landPageBlock:hover,
.landPageBlock:target {
  transform: scale(1.1);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.6);
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  z-index: 1001;
}
footer {
  position: relative;
  display: inline-block;
  bottom: 0;
}
.landPageBlockFoto {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: fixed;
  width: 250px;
  -webkit-animation: clickMe 1s infinite;
  animation: clickMe 1s infinite;
  height: auto;
  opacity: 1s;
  top: calc(50% - 125px);
  left: calc(50% - 125px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
  border-radius: 150px;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  background-color: white;
}
.fotoContainer {
  min-width: 250px;
  height: 250px;
}
.pushToContinue {
  background-color: black;
  opacity: 0.7;
  width: 300px;
  height: 300px;
  z-index: 9900;
  position: fixed;
  padding: 123px;
  font-size: 28px;
  left: calc(50% - 120px);
  top: calc(50% - 120px);
}
@keyframes clicked {
  0% {
    transform: rotateX(0deg);
  }
  85% {
    transform: rotateX(360deg) scale(1.3);
  }
  100% {
    transform: rotateX(360deg) scale(1);
  }
}
@-webkit-keyframes clicked {
  0% {
    -webkit-transform: rotateX(0deg);
  }
  85% {
    -webkit-transform: rotateX(360deg) scale(1.3);
  }
  100% {
    -webkit-transform: rotateX(360deg) scale(1);
  }
}
@keyframes clickMe {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  45% {
    transform: scale(1);
  }
  55% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes clickMe {
  0% {
    -webkit-transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.1);
  }
  45% {
    -webkit-transform: scale(1);
  }
  55% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
a {
  display: inline-block;
}
.imgToShow {
  opacity: 0;
  margin: auto;
}
.moreToggle {
  opacity: 0;
  background: #fafafa;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  border: none;
  width: 300px;
  text-align: center;
  font-size: 24px;
  position: relative;
  left: calc(50% - 150px);
}
ul {
  list-style: none;
}
[ui-view].ng-enter,
[ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  padding-left: 10px;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
  z-index: 1000;
}
[ui-view].ng-enter {
  z-index: 1000;
  -moz-transform: translateY(100%);
  /* Для Firefox */
  -ms-transform: translateY(100%);
  /* Для IE */
  -webkit-transform: translateY(100%);
  /* Для Safari, Chrome, iOS */
  -o-transform: translateY(100%);
  /* Для Opera */
  transform: translateY(100%);
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}
[ui-view].ng-enter-active {
  z-index: 1001;
  -moz-transform: translateY(0);
  /* Для Firefox */
  -ms-transform: translateY(0);
  /* Для IE */
  -webkit-transform: translateY(0);
  /* Для Safari, Chrome, iOS */
  -o-transform: translateY(0);
  /* Для Opera */
  transform: translateY(0);
}
[ui-view].ng-leave {
  z-index: 1001;
  -moz-transform: translateY(0);
  /* Для Firefox */
  -ms-transform: translateY(0);
  /* Для IE */
  -webkit-transform: translateY(0);
  /* Для Safari, Chrome, iOS */
  -o-transform: translateY(0);
  /* Для Opera */
  transform: translateY(0);
}
[ui-view].ng-leave-active {
  z-index: 1000;
  -moz-transform: translateY(100%);
  /* Для Firefox */
  -ms-transform: translateY(100%);
  /* Для IE */
  -webkit-transform: translateY(100%);
  /* Для Safari, Chrome, iOS */
  -o-transform: translateY(100%);
  /* Для Opera */
  transform: translateY(100%);
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}
.toRepeat.ng-enter,
.toRepeat.ng-leave {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.toRepeat.ng-enter {
  left: 100%;
}
.toRepeat.ng-leave,
.toRepeat.ng-enter.ng-enter-active {
  left: 0;
}
.toRepeat.ng-leave.ng-leave-active {
  left: -100%;
}
.portfolioBox {
  position: relative;
  display: inline-block;
  max-width: 29%;
  margin: 15px;
  margin-top: 20px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  text-shadow: none;
  color: rgba(0, 0, 0, 0);
  transform: scale(1);
  color: rgba(255, 255, 255, 0);
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
.portfolioBox:hover,
.portfolioBox:target {
  transform: scale(1.1);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.6);
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  filter: saturate(150%);
  -webkit-filter: saturate(150%);
  -moz-filter: saturate(150%);
  -o-filter: saturate(150%);
  -ms-filter: saturate(150%);
}
.portfolioPreview {
  position: relative;
  width: 100%;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  height: auto;
  filter: none;
}
.portfolioText {
  position: absolute;
  top: 50%;
  width: 100%;
}
.portfolioMask {
  background-color: rgba(0, 0, 0, 0.5);
}
.mainLogo {
  position: relative;
  width: 50%;
  margin: 5%;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  height: 100%;
}
.mainLogoBox {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.footerBox {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 50px;
}
.logoText {
  display: inline-block;
  text-align: center;
  font-size: 24px;
  width: 100%;
  margin-top: 15px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}
.programsBox {
  top: 0px;
  position: relative;
  width: 90%;
  margin: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  min-height: 150px;
  height: auto;
  background-color: #5a646e;
}
.contactBox {
  box-shadow: none;
  background-color: #326478;
}
.programsLogo {
  position: relative;
  display: inline;
  margin: 5px;
  height: 25%;
  width: 25%;
  height: auto;
  border-radius: 50%;
  vertical-align: top;
}
.programsText {
  text-align: center;
  font-size: 22px;
  margin-left: 15px;
  padding-right: 15px;
  width: 70%;
  display: inline-block;
}
.landPageBox {
  position: absolute;
  display: inline-block;
  min-width: 100%;
  padding: 0;
  left: 0;
  right: 0;
}
